{% include "navbar.html" %}
<div style="margin: 20px;">
    <h2 style="color: #4CAF50;">Welcome to My Website</h2>
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            {% for i in database %}
            <tr>
                <td scope="row">{{i.name}}</td>
                <td>{{i.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "footer.html" %}
